main.main{
    width: 99.99vw;
    height: 99.99vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media(max-width:768px){
    main.main{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  1fr 1fr 1fr 1fr 1fr;
    }   
}

@media(max-width:540px){
    main.main{
       display: block;
    }   
}